section.fdb-block
    .container
        .row
            .text-left
                h1.aboutUs-Title About Us
        .row
            p
            | WD Global Group is a full service nationally recognized Accounts Receivable
            | Management firm headquartered in Atlanta, GA.  WD Global Group specializes in debt
            | recovery and account servicing.
            | WD Global Group places top priority on compliance and treating all people with respect and integrity while
            | reaching top liquidations for all clients’ portfolios.  With over 25 years of debt
            | recovery and account servicing and collection agency experience at all stages, we
            | have  provided superior results, transparent pricing and exemplary customer service,
            | our goal is simple. We partner with companies from all industries recovering lost
            | revenue as quickly as possible at the lowest cost while preserving our clients’ public
            | image in the marketplace.
