section.fdb-block(style="background-image: url(./img/city.jpeg);")
    .container
        .row.text-left
            .col-12.col-sm-10.m-auto.m-md-0.col-md-8.col-lg-6
                .fdb-box-med
                    .row.justify-content-center
                        .col-12.col-xl-8.text-center
                            h2.h1 WD Global Group
                            p.text-h3
                                | A full service nationally recognized Accounts Receivable
                                | Management firm headquartered in Atlanta, GA.
                            p.text-h3.mt-4
                                //- a(href="/about.html") Learn More >
                                a(href='https://go.paynseconds.net/#pay/00000000-0000-d902-c434-08d5bfe7c4ec/1')
                                    img.img-fluid(src="./img/wd-pay-button.png" alt="Button for online payment")
