section.fdb-block.border-liner
    .container
        .row.justify-content-center
            .col.col-md-8.text-center
                h1 Collection Agency
                p.text-h3
                    | With over 25 years of debt recovery and account servicing and collection
                    | agency experience at all stages, we have  provided superior results,
                    | transparent pricing and exemplary customer service, our goal is simple.
                    | We partner with companies from all industries recovering lost revenue as
                    | quickly as possible at the lowest cost while preserving our clients’ public
                    | image in the marketplace.
