section.fdb-block(style="background-image: url(./img/herobackground.jpg);")
    .container
        .row.text-left
            .col-12.col-sm-10.m-auto.m-md-0.col-md-8.col-lg-6
                .fdb-box
                    .row.justify-content-center
                        .col-12.col-xl-8.text-center
                            h1 Froala Design Blocks
                            p.text-h3
                                | When she reached the first hills of the Italic Mountains, she had
                                | a last view back on the skyline of her hometown Bookmarksgrove
                            p.text-h3.mt-4
                                a(href="https://www.froala.com") Learn More >