section.fdb-block
    .container
        .row.justify-content-center
            .col-12.text-center
                h1 Froala Design Blocks
                p.text-h3
                    | Far far away, behind the word mountains, far from the countries Vokalia and
                    | Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                    | right at the coast of the Semantics, a large language ocean.
        .row.text-left.mt-5
            .col-12.col-sm-8.col-md-4.col-lg-3.m-sm-auto.mr-md-auto.ml-md-0
                img.img-fluid(alt="image" src="./img/Debt-recovery-service.jpg")
                h3
                    strong Debt Recovery Services
                p
                    | We will work hard to recovery all the money you are owed in a professional
                    | manner that also helps minimizes your business risks.
            .col-12.col-sm-8.col-md-4.col-lg-3.m-sm-auto.pt-5.pt-md-0
                img.img-fluid(alt="image" src="./img/contingency.jpg")
                h3
                    strong Contingency Collections
                p
                    | As a trusted ally at no cost to you. We cover all collection expenses, you
                    | pay nothing unless we successfully recovery the money you are owed.
            .col-12.col-sm-8.col-md-4.col-lg-3.m-sm-auto.ml-md-auto.mr-md-0.pt-5.pt-md-0
                img.img-fluid(alt="image" src="./img/Judgement.jpg")
                h3
                    strong Judgement Collections
                p
                    | We will utilize all the tools available to us under the law including, filling
                    | leans on property, enforcing wage and salary garnishments and more.