header.border-liner(role="banner")
    .container
        nav.navbar.navbar-expand-md.no-gutters(role="navigation")
            .col-2.text-left
                a(href="/")
                    img(src="/img/Logo-small.png", height="90", alt="Logo")
            button.navbar-toggler(type="button", data-toggle="collapse", data-target=".navbar-collapse-3", aria-controls="navbarNav6", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse.justify-content-center.col-md-8.navbar-collapse-3
                ul.navbar-nav.justify-content-center
                    li.nav-item.active
                        a.nav-link(href="/")
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="/#services") Services
                    li.nav-item
                        a.nav-link(href="/about.html") About
                    li.nav-item
                        a.nav-link(href="/contact.html") Contact
            .collapse.navbar-collapse.justify-content-end.col-md-2.navbar-collapse-3
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="tel:800-371-3817")
                            i(class="fa fa-phone pr-1" aria-hidden="true")
                            | 800-371-3817
